<html>
    <head>
        <title>Student view page</title>
    </head>
    <body>
        <div>
            <a href="/">HOME</a>
            <a href="/students/newstudents">Register new student</a>
        </div>
        