<h1>HOME PAGE</h1>
<a href="/register">Admin signup</a><br>
<a href="/login">Admin login</a><br>
<a href="/logout">Admin logout</a><br>
<a href="/students">View Students Info</a><br>
<a href="/companies">View Companies Info</a>


