<h1>Schedule of all companies</h1>
<table style="border-collapse :collapse ; width : 100%">
    <tr>
      <th>Company</th>
      <th>Date</th>
      <th>Package</th>
    </tr>
    <tr>
      <td>Morgan Stanley</td>
      <td>10/12/2018</td>
      <td>16.28</td>
    </tr>
    <tr>
        <td>Samsung</td>
        <td>16/12/2018</td>
        <td>14.28</td>
    </tr>
    <tr>
        <td>Microsoft</td>
        <td>22/12/2018</td>
        <td>36.28</td>
    </tr>
    <tr>
      <td>UBS</td>
      <td>30/12/2018</td>
      <td>10.39</td>
    </tr>
  </table>