<html>
    <head>
        <title>Company view page</title>
    </head>
    <body>
        <div>
            <a href="/">HOME</a>
            <a href="/companies/newcompanies">Register new company</a>
        </div>
        <div>
     Company DETAILS
</div>
<div>
    EDIT <%= company.name%> 
</div>
<form action="/companies/<%= company._id %>?_method=PUT" method="POST">
    <input type="text" name="company[name]" placeholder="NAME">
    <input type="number" step=0.01 name="company[cpi]" max="10" placeholder="CPI">
    <br>
    <input type="radio" name="company[branch]" placeholder="Branch" value="IT">IT<br>
    <input type="radio" name="company[branch]" placeholder="Branch" value="CSE">CSE<br>
    <input type="radio" name="company[branch]" placeholder="Branch" value="EXTC">EXTC<br>
    <input type="radio" name="company[branch]" placeholder="Branch" value="MECH">MECH<br>
    <input type="date"  name="company[date]" ><br> 
    <input type="submit">

</form>
<% include ./partials/footer %>