<h1>Admin will login here</h1>
<h2>Signup Form</h2>
<form action="/login" method="POST">
    <input type="text" placeholder="Enter UserName" name="username" required>
    <input type="password" placeholder="Enter Password" name="password" required>
    <button>Login</button>
</form>